In [3]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
ser1 = pd.Series([1,2,3],['Tommy','Tom','Jack'])

In [10]:
ser1

Tommy    1
Tom      2
Jack     3
dtype: int64

In [11]:
ser2 = pd.Series([3,2,4],['Jack','Tommy','Kitty'])

In [12]:
ser2

Jack     3
Tommy    2
Kitty    4
dtype: int64

In [16]:
ser1+ser2

Jack     6.0
Kitty    NaN
Tom      NaN
Tommy    3.0
dtype: float64